<h2>Edit My fumblr!</h2>

<%= form_for @user do |f| %>
	<%=f.label :first_name %>
	<%=f.text_field :fname %>
	<%=f.label :last_name %>
	<%=f.text_field :lname %>
	<%=f.label :email %>
	<%=f.text_field :email %>
	<%=f.label :username %>
	<%=f.text_field :username %>
	<%=f.label :password %>
	<%=f.password_field :password %>
	<%=f.submit :update %>
<% end %>