<h2>Please sign up!</h2>
<hr>
<%#= my_error(@user) %>
<% if @user.errors.full_messages.any? %>
	<ul>
		<% @user.errors.full_messages.each do |e| %>
			<li> <%= e %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @user do |f| %>
	<div class="col1" style="margin-left:0;text-align:center">
	<h3><%=f.label :first_name %></h3>
	<%=f.text_field :fname %>
	<br><br>
	<h3><%=f.label :last_name %></h3>
	<%=f.text_field :lname %>
	<br><br>
	<h3><%=f.label :email %></h3>
	<%=f.email_field :email %>
	</div>
	<div class="col2" style="margin-right:10px">
	<h3><%=f.label :username %></h3>
	<%=f.text_field :username %>
	<br><br>
	<h3><%=f.label :password %></h3>
	<%=f.password_field :password %>
	<br><br><br>
	<%=f.submit %>
	</div>

	
	<br><br><br>
<% end %>
