<h1><%= @user.fname %>'s Page.</h1>

<div id="account-details">
	<p>Account details</p>
	<li><%= @user.fname%></li>
	<li><%= @user.lname%></li>
	<li><%= @user.username%></li>
	<li><%= @user.created_at%></li>
	<% if @user == current_user %>
		<%= link_to "Edit my details", edit_user_path %>
			<%= link_to "Delete my account", @user, method: :delete %>
	<% end %>
</div>



<h2><%= @user.fname %>'s Posts </h2>
<% @posts.each do |t| %>
	<h3><%= t.title %></h3>
	<p><%= t.body %></p>
	<% if @user == current_user %>
		<%= link_to "Edit Post", edit_post_path(t) %>
		<%= link_to "Delete Post", t, method: :delete %>
	<% end %>
<% end %>


