<h1><%= @user.fname %>'s Profile</h1>
<hr>

<div class="col1">
	<h2><%= @user.fname %>'s Posts </h2>
	<% @posts.each do |t| %>
		<h3><%= t.title %></h3>
		<p><%= t.body %></p>
		<% if @user == current_user %>
			<%= link_to "Edit Post", edit_post_path(t) %>
			&nbsp; &#9733; &nbsp;
			<%= link_to "Delete Post", t, method: :delete %>
		<% end %>
		<hr style="margin-left:0">
	<% end %>
</div>

<div class="col2">
	<div id="account-details">
		<h2>Account details</h2>
		<p><b>First Name:</b> <%= @user.fname%></p>
		<p><b>Last Name:</b> <%= @user.lname%></p>
		<p><b>Username:</b> <%= @user.username%></p>
		<p><b>Email:</b> <%= @user.email %></p>
		<p><b>Member Since:</b> <%= @user.created_at.strftime(" %B %d, %Y")%></li>
			<br><br>
		<% if @user == current_user %>
			<%= link_to "Edit my details", edit_user_path %>
			&nbsp; &#9733; &nbsp;
				<%= link_to "Delete my account", @user, method: :delete %>
		<% end %>
	</div>

	<h2>Other Users</h2>
	<% @users.each do |t| %>
	<% if t != current_user && t != @user  %>
		<p><%= link_to t.username, user_path(t) %></p>
	<% end %>
<% end %>
</div>


