<h1>Welcome, <%= @user.fname %></h1>

<div id="account-details">
	<p>Account details</p>
	<li><%= @user.fname%></li>
	<li><%= @user.lname%></li>
	<li><%= @user.username%></li>
	<li><%= @user.created_at%></li>
</div>