<h1>Welcome to <span style="color:#900000">fumblr</span></h1>
<hr>
<!-- <p><%= link_to "Sign In", log_in_path %></p> -->

<h2>Please Log In:</h2>
<%= form_tag log_in_path do %>
<h3><%= label_tag(:username) %></h3>
<%= text_field_tag(:username) %>
<h3><%= label_tag(:password) %></h3>
<%= text_field_tag(:password) %>
<br><br>
<%= submit_tag("Log In") %>
<% end %>

<br>
<p>New to fumblr? <%= link_to "Sign Up", new_user_path %> here!</p> 


