<h1>Edit Post:</h1>

<%= form_for @post do |t| %>
	<%= t.label :title %>
	<%= t.text_field :title %>
	<%= t.label :body %>
	<%= t.text_field :body %>
	<%= t.submit :update %>
<% end %>

<p><%= link_to "Home", posts_path %></p>