<h1>Your Newsfeed</h1>
<p>Here's what people are saying!</p>

<h1>Write New Post</h1>

<%= form_for @post do |t| %>
	<%= t.label :title %>
	<%= t.text_field :title %>
	<%= t.label :body %>
	<%= t.text_field :body %>
	<%= t.submit :create %>
<% end %>

<% @posts.reverse.each do |t| %>
	<h2><%= t.title %></h2>
	<!-- <p>By: <a href="/users/<%= t.user.id %>"><%= t.user.username %></a></p> -->

	<p>By: <%= link_to  t.user.username , user_path(t.user)%></p>
	<p><%= t.body %></p>
	<p><%= link_to "Show Post", post_path(t) %></p>
	<br>
<% end %>


