<!DOCTYPE html>
<html>
<head>
  <title>Fumblr</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	<%= csrf_meta_tags %>

</head>
<body>
	<% if flash[:notice] %>
		<p id="flash"><%= flash[:notice] %></p>
	<% end %>

	<nav>
		<h1 id="icon">fumblr</h1>
		<% if current_user %>
			<a href="/log_out">LOG OUT</a>
			<a href="/users/<%= current_user.id%>">MY ACCOUNT</a>
			<a href="/posts">HOME</a>	
		<% end %>
	</nav>

	

	<div id="main">
		<%= yield %>
	</div>
	<div id="background_image">
		<%#= image_tag("multi_colored.jpg") %>
	</div>
	<div id="opacity_container">
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</body>
</html>
