<!DOCTYPE html>
<html>
<head>
  <title>Fumblr</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	<%= csrf_meta_tags %>

</head>
<body>
	<nav>
		<h1 id="icon">fumblr</h1>
		<% if current_user %>
			<a href="/log_out">LOG OUT</a>
			<a href="/users/<%= current_user.id%>">MY ACCOUNT</a>
			<a href="/posts">HOME</a>	
		<% end %>
	</nav>

	<% if flash[:notice] %>
		<p id="flash"><%= flash[:notice] %></p>
	<% end %>

	<div id="main">
		<%= yield %>
	</div>

</body>
</html>
